sudo: false

language: cpp

cache:
  ccache: true

os:
  - linux
  - osx

matrix:
  include:
    - os: linux
      dist: trusty
      compiler: gcc
      addons:
        apt:
          packages:
          - bash-completion
          - curl

    - os: osx
      compiler: clang

stages:
  - test_it
  - package_it

jobs:
  include:
    - stage: test_it
      os: linux
      install: echo "test_it install $TRAVIS_OS_NAME"
      script: echo "test_it script on $TRAVIS_OS_NAME"
    - os: osx
      install: echo "test_it install $TRAVIS_OS_NAME"
      script: echo "test_it script on $TRAVIS_OS_NAME"
    - stage: package_it
      os: linux
      install: echo "package_it install $TRAVIS_OS_NAME"
      script: echo "package_it script on $TRAVIS_OS_NAME"
    - os: osx
      install: echo "test_it install $TRAVIS_OS_NAME"
      script: echo "test_it script on $TRAVIS_OS_NAME"
