sudo: false

language: cpp

cache:
  ccache: true

jobs:
  include:
    - stage: test_it
      os: linux
      dist: trusty
      compiler: gcc
      addons:
        apt:
          packages:
            - bash-completion
            - curl
      install:
        - echo "install_it on $TRAVIS_OS_NAME"
      script:
        - echo "test_it on $TRAVIS_OS_NAME"
    - stage: test_it
      os: osx
      compiler: clang
      install:
        - echo "install_it on $TRAVIS_OS_NAME"
      script:
        - echo "test_it on $TRAVIS_OS_NAME"
    - stage: package_it
      os: linux
      dist: trusty
      compiler: gcc
      addons:
        apt:
          packages:
            - bash-completion
            - curl
      script: echo "package_it on $TRAVIS_OS_NAME"
    - stage: package_it
      os: osx
      compiler: clang
      script: echo "package_it on $TRAVIS_OS_NAME"
