sudo: false

language: cpp

cache:
  ccache: true

os:
  - linux
  - osx

matrix:
  include:
    - os: linux
      dist: trusty
      compiler: gcc
      addons:
        apt:
          packages:
          - bash-completion
          - curl

    - os: osx
      compiler: clang

install:
  - echo "install $TRAVIS_OS_NAME"

script:
  - echo "script $TRAVIS_OS_NAME"

jobs:
  include:
    - stage: deploy
      os: linux
      script: echo "deploying from $TRAVIS_OS_NAME"
    - stage: deploy
      os: osx
      script: echo "deploying from $TRAVIS_OS_NAME"
